@page "/trainer"
@using BlazorServerML.ML

<h3>Trainer</h3>
<hr />
<h5 style="color:slategrey">Current data file: @Trainer.TRAIN_FILE</h5>

<button class="btn btn-primary"
        style="width:200px;margin-top:12px;"
        disabled="@disabled"
        @onclick="ExecuteTraining">
    Execute Training
</button>
<hr />
<br />
<h5 style="color:slategrey">Work flow</h5>
<div class="card bg-light p-3">
<pre>
@prompt
</pre>
</div>

@code {
    string prompt = "Ready";
    bool disabled;

    async Task ExecuteTraining()
    {
        disabled = true;
        prompt = "";

        var trainer = new Trainer();
        trainer.Prompt += AddPrompt;
        await trainer.CreateModel();

        disabled = false;
    }

    async Task AddPrompt(string text)
    {
        prompt += text;
        await InvokeAsync(StateHasChanged);
    }
}
